<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% include 'components/_navbar.html.twig' %}
        {% if title is defined %}<h1>title</h1>{% endif %}
        {% block body %}{% endblock %}
        {% include 'components/_footer.html.twig' %}
        {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% if js is defined %}
            {% if js is iterable %}
                {% for js_file in js %}
                    {{ encore_entry_script_tags(js_file) }}
                {% endfor %}
            {% else %}
                {{ encore_entry_script_tags(js) }}
            {% endif %}
        {% endif %}
        {% endblock %}

    </body>
</html>
